@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-satoshi font-normal text-base text-body bg-whiten relative z-1;
  }
}

@layer components {
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .chat-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
  .inbox-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
}

/* third-party libraries CSS */

.tableCheckbox:checked ~ div span {
  @apply opacity-100;
}
.tableCheckbox:checked ~ div {
  @apply bg-primary border-primary;
}

.apexcharts-legend-text {
  @apply !text-body dark:!text-bodydark;
}
.apexcharts-text {
  @apply !fill-body dark:!fill-bodydark;
}
.apexcharts-xcrosshairs {
  @apply !fill-stroke dark:!fill-strokedark;
}
.apexcharts-gridline {
  @apply !stroke-stroke dark:!stroke-strokedark;
}
.apexcharts-series.apexcharts-pie-series path {
  @apply dark:!stroke-transparent;
}
.apexcharts-legend-series {
  @apply !inline-flex gap-1.5;
}
.apexcharts-tooltip.apexcharts-theme-light {
  @apply dark:!border-strokedark dark:!bg-boxdark;
}
.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
  @apply dark:!border-strokedark dark:!bg-meta-4;
}
.apexcharts-xaxistooltip,
.apexcharts-yaxistooltip {
  @apply dark:!border-meta-4 dark:!bg-meta-4 dark:!text-bodydark1;
}
.apexcharts-xaxistooltip-bottom:after {
  @apply !border-b-gray dark:!border-b-meta-4;
}
.apexcharts-xaxistooltip-bottom:before {
  @apply !border-b-gray dark:!border-b-meta-4;
}
.apexcharts-xaxistooltip-bottom {
  @apply !rounded !border-none !bg-gray !text-xs !font-medium !text-black dark:!text-white;
}
.apexcharts-tooltip-series-group {
  @apply !pl-1.5;
}

.flatpickr-wrapper {
  @apply w-full;
}
.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  @apply !fill-primary;
}
.flatpickr-calendar.arrowTop:before {
  @apply dark:!border-b-boxdark;
}
.flatpickr-calendar.arrowTop:after {
  @apply dark:!border-b-boxdark;
}
.flatpickr-calendar {
  @apply !p-6 dark:!bg-boxdark dark:!text-bodydark dark:!shadow-8 2xsm:!w-auto;
}
.flatpickr-day {
  @apply dark:!text-bodydark dark:hover:!border-meta-4 dark:hover:!bg-meta-4;
}
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  @apply !top-7 dark:!fill-white dark:!text-white;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
  @apply !left-7;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  @apply !right-7;
}
span.flatpickr-weekday,
.flatpickr-months .flatpickr-month {
  @apply dark:!fill-white dark:!text-white;
}
.flatpickr-day.inRange {
  @apply dark:!shadow-7;
  box-shadow:
    -5px 0 0 #eff4fb,
    5px 0 0 #eff4fb;
}
.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  @apply border-gray bg-gray dark:!border-meta-4 dark:!bg-meta-4;
}
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.selected,
.flatpickr-day.endRange {
  @apply dark:!text-white;
}
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #3c50e0;
  @apply !border-primary !bg-primary hover:!border-primary hover:!bg-primary;
}
.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
  box-shadow: -10px 0 0 #3c50e0;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Style for the thumb of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 4px; /* Roundness of the thumb */
}

.map-btn .jvm-zoom-btn {
  @apply flex items-center justify-center w-7.5 h-7.5 rounded border border-stroke dark:border-strokedark hover:border-primary dark:hover:border-primary bg-white hover:bg-primary text-body hover:text-white dark:text-bodydark dark:hover:text-white text-2xl leading-none px-0 pt-0 pb-0.5;
}
.mapOne .jvm-zoom-btn {
  @apply left-auto top-auto bottom-0;
}
.mapOne .jvm-zoom-btn.jvm-zoomin {
  @apply right-10;
}
.mapOne .jvm-zoom-btn.jvm-zoomout {
  @apply right-0;
}
.mapTwo .jvm-zoom-btn {
  @apply top-auto bottom-0;
}
.mapTwo .jvm-zoom-btn.jvm-zoomin {
  @apply left-0;
}
.mapTwo .jvm-zoom-btn.jvm-zoomout {
  @apply left-10;
}

.taskCheckbox:checked ~ .box span {
  @apply opacity-100;
}
.taskCheckbox:checked ~ p {
  @apply line-through;
}
.taskCheckbox:checked ~ .box {
  @apply bg-primary border-primary dark:border-primary;
}

.custom-input-date::-webkit-calendar-picker-indicator {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}
.custom-input-date-1::-webkit-calendar-picker-indicator {
  background-image: url(./images/icon/icon-calendar.svg);
}
.custom-input-date-2::-webkit-calendar-picker-indicator {
  background-image: url(./images/icon/icon-arrow-down.svg);
}
.Toastify__toast-body {
  padding: 0 !important;
}

[x-cloak] {
  display: none !important;
}

/* Add this to your global CSS file */
.menu-sub {
  transition:
    max-height 0.2s ease,
    opacity 0.4s ease;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
}

.menu-sub-visible {
  opacity: 1;
  max-height: 1000px; /* or a value that is high enough to fit your content */
}
.header_text::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100px; /* Adjust this value as needed */
  width: 1px; /* Adjust this value as needed */
  height: 100%; /* Makes it extend the full height of the parent */
  background-color: red; /* Adjust this color as needed */
  rotate: 90deg;
}

.active__item::before {
  content: '';
  position: absolute;
  top: 50%; /* Move the top of the element to 50% of the parent height */
  left: 0px; /* Adjust this value as needed */
  width: 2px; /* Adjust this value as needed */
  height: 60%; /* Adjust this value as needed */
  background-color: red; /* Adjust this color as needed */
  transform: translateY(
    -50%
  ); /* Move the element up by 50% of its height to center it */
}
/* .column__header{
  border: .8px solid @apply bg-slate-500;
} */

.column__header::after {
  content: '';
  position: absolute;
  top: 50%; /* Move the top of the element to 50% of the parent height */
  left: 0px; /* Adjust this value as needed */
  width: 1px; /* Adjust this value as needed */
  height: 40%; /* Adjust this value as needed */ /* Adjust this color as needed */
  transform: translateY(-50%);
  @apply bg-slate-300;
}
.center_absolute__item {
  top: 50%;
  transform: translateY(-50%);
}

.left__point__clippath {
  clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
}
.right__point__clippath {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  backdrop-filter: blur(2px); /* Adjust the blur amount */
  z-index: 40; /* Ensure it is behind the dialog */
}

.spinner__card {
  position: absolute;
  top: 50%; /* Move down 50% of the parent's height */
  left: 50%; /* Move right 50% of the parent's width */
  transform: translate(-50%, -50%); /* Move back half of its own size */
  padding: 20px; /* For aesthetics */
  z-index: 9999;
}

/* Hide scroll for filter */
/* Hide scrollbar but keep scroll functionality for Webkit browsers (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
}

/* .p-component {
  @apply font-satoshi;
} */

/* Targeting the checkbox in the DataTable selection mode */
.p-checkbox .p-checkbox-box {
  /* border: 1px solid; */
  @apply border-bodydark border-[1px];
}

.p-checkbox .p-checkbox-check {
  font-size: 5px !important;
  font-weight: bold;
}

/* .p-checkbox .p-checkbox-icon {
  line-height: 5px;
  @apply bg-boxdark;

} */

.p-datatable-tbody .p-highlight {
  @apply bg-indigo-100;
}
/* .p-inputwrapper-focus {
  @apply focus:border-red-600 border-red-950;
} */

.p-datatable-header {
  @apply m-0 p-0;
}

.p-datepicker-group-container {
  @apply font-satoshi;
}

/* Reduce text size for the entire Calendar panel */
.p-datepicker {
  font-size: 12px; /* Set the desired font size for the calendar panel */
}

/* Customize specific parts if needed */
.p-datepicker-header {
  font-size: 14px; /* Customize month/year selector text size */
}

.p-datepicker-calendar td {
  font-size: 12px; /* Customize date cell text size */
  @apply p-0 m-0;
}

.p-datepicker-calendar th {
  @apply text-sm font-bold;
}

.p-datepicker-today span {
  font-size: 12px; /* Customize the 'Today' button text */
}

.p-datepicker-monthpicker .p-monthpicker-month,
.p-datepicker-yearpicker .p-yearpicker-year {
  font-size: 12px; /* Customize month/year text size in month/year pickers */
}

.tableheaderrow > th > span {
  @apply text-sm;
}

.kanban-board {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.kanban-column {
  width: 30%;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  min-height: 300px;
  border: 1px solid #ddd;
}

.kanban-task {
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: grab;
}
