# Ignore the node_modules directory
node_modules

# Ignore the log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore local configuration files
.env

# Ignore coverage directory
coverage/

# Ignore build output
dist/
build/

# Ignore any other files or directories you want to exclude
*.log
*.tmp
